<div class="container">
    <div class="row row-content" ng-controller="AssignManagerController">
        <h3 class="tableheader">Assign As Group Manager</h3>
        <div class="col-xs-12">
                <div ng-if="!showGroups">
                    <h3>{{message}}</h3>
                </div>
                <span class="col-sm-12">
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click=cancelAssignManager()>Go Back</button>
                <span>

                <table class="table table-bordered" ng-if="showGroups">
                    <thead>
                        <tr>
                            <th>Group </th> 
                            <th>Location</th> 
                            <th>All Managers</th> 
                            <th>isManager</th> 
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="group in groups">
                            <td>{{group.name}}</td>
                            <td>{{group.locationId.name}}</td>
                            <td>{{group.managers}}</td>
                            <td>{{group.isManager}}</td>
                            {{person}}
                            <td><button class="btn btn-success"  ng-click="groupAssignAsManager(group._id)">Assign</button></td>
                            <td><button class="btn btn-warning" ng-click="groupRemoveAsManager(group._id)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
