<div class="container" ng-controller="GroupController">
    <div class="row row-content">
        <div class="col-xs-12">
            <h3 class="tableheader">Group Information</h3> 
        </div>

              
    <div class="col-xs-12 col-sm-12">
        <form ng-submit="saveGroup($event)" role="form" name="groupForm">
            <div class="form-group" >
                <span class=" col-sm-offset-0 col-sm-2" ng-if="editing">
                    <button type="submit" class="btn btn-success" ng-disabled="groupForm.$invalid">Save</button>
                </span>
                <span class="col-sm-2" ng-if="editing && group._id">
                    <button class="btn btn-warning"  ng_click="deletegroup()" >Delete</button>
                </span>
                <span class="col-sm-offset-0 col-sm-2" ng-if="!editing">
                    <button class="btn btn-primary"  ng_click="editGroup()" >Edit</button>
                </span>
                <span class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click = "cancelEditGroup()">Cancel</button>
                </span>
                 &nbsp; &nbsp;
                <button ng-click="togglePersons()" class="btn btn-xs btn-info pull-right"
                    type="button" ng-if="!editing">
                    {{showPeopleList ? 'Hide People':'Show People'}}
                </button>
                <button ng-click="toggleVehicles()" class="btn btn-xs btn-info pull-right"
                    type="button"  ng-if="!editing">
                    {{showVehiclesList ? 'Hide Vehicles':'Show Vehicles'}}
                </button>
            </div>

            <div class="form-group">
                <label for="groupName">Name
                </label>                
                <input type="text" class="form-control" id="groupName" placeholder="groupName" ng-model="group.name">
                <label>Location
                </label>
                <select ng-model="group.locationId" ng-options="x._id as x.name for x in locations" class="form-control"  ng-change="locationChanged()" >
                        <option value="">-- choose location --</option>
                </select>
                <span ng-show="invalidChannelSelection" class="help-block">Select an option.</span>
                <label for="manager">Group Managers</label>                
                <input type="text" class="form-control" id="manager" placeholder="managers" ng-model="managers">
            </div>
        </form>
    </div>

    <div ng-if="!showVehicles">
            <h3>{{message}}</h3>
    </div>      
    <div ng-if="showVehicles && showVehiclesList" class="col-xs-12 col-sm-12">
        <h4>Vehicles in Group</h4>
        <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>    
                <th>Plate</th>                        
                <th>Brand</th>  
                <th>Model</th>
                <th>Seats</th>
                <th>Description</th>                 
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vehicle in vehiclesInGroup">
                <td><button class="btn btn-default" ui-sref="app.vehicle({id: vehicle._id})">View/Edit</button></td>
                <td>{{vehicle.plate}}</td>
                <td>{{vehicle.brand}}</td>
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.seats}}</td>
                <td>{{vehicle.description}}</td>
            </tr>
        </tbody>
        </table>
    </div>

    <div ng-if="!showPeople">
            <h3>{{message}}</h3>
    </div>      

    <div ng-if="showPeople && showPeopleList" class="col-xs-12 col-sm-12">
            <h4>People in Group</h4>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th> </th>    
                    <th>Name</th>
                    <th>email</th> 
                    <th>Groups</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in peopleInGroup">
                    <td><a ui-sref="app.person({id: person._id})">
                        <button class="btn btn-default">View/Edit</button></td>
                     </a></td>
                    <td>{{person.firstname}} {{person.familyname}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.groups.join(", ")}}</td>
                </tr>
            </tbody>
            </table>
    </div>


    </div>
</div>

