<div class="container">

    <div class="row row-content" ng-controller="GroupsController">
        <div class="col-xs-12" ng-if="!showGroups">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showGroups">
            <h3 class="tableheader">Groups</h3>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th> <a ui-sref="app.group({})">
                         <button class="btn btn-info">New</button>
                    </a></th>
                    <th> Group Name </th>
                    <th> Location </th>
                    <th> Group Manager </th>
                    <th> Member Count </th>
                    <th> Vehicle Count </th>
               </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in groups">
                    <td><a ui-sref="app.group({id: group._id})">
                            <button class="btn btn-default">View/Edit</button></td>
                         </a></td>
                    <td>{{group.name}}</td>
                    <td>{{group.locationId.name}}</td>
                    <td>{{group.managers.join(", ")}}</td>
                    <td>{{group.memberCount}}</td>
                    <td>{{group.vehicleCount}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
