<nav class="navbar navbar-inverse" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" on-click=>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="app"><img src="./images/zoomout.png" height=30></a>
        </div>
        <div id="navbar" class="navbar-collapse">  <!--collapse-->
            <ul class="nav navbar-nav">
                <li ng-if = "menuType < 0"><a ui-sref="app.home">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      Home</a></li>
                <li ng-if = "menuType > 1"><a ui-sref="app.persondash({id: userId})">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      Dashboard</a></li>
                <li ng-if = "menuType > 0"><a ui-sref="app.person({id: userId})">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      PersonalInfo</a></li>
                <li ng-if = "menuType > 2"><a ui-sref="app.people">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      People</a></li>
                <li ng-if = "menuType > 2"><a ui-sref="app.vehicles">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      Vehicles</a></li>
                <li ng-if = "menuType > 2"><a ui-sref="app.vehiclesPHS">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      Vehicles Dash</a></li>
                <li ng-if = "menuType > 2"><a ui-sref="app.trips">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      Trips</a></li>
                <li ng-if = "menuType > 2"><a ui-sref="app.reservations">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      Reservations</a></li>
                <li ng-if = "menuType > 2"><a ui-sref="app.locations">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      Locations</a></li>
                <li ng-if = "menuType > 2"><a ui-sref="app.groups">
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      Groups</a></li>
                 <!--li ng-class="{active: stateis('app.contactus')}"><a ui-sref="app.contactus">
                 <i class="fa fa-envelope-o"></i> Contact</a></li>
                <li ><a >
                     <span class="glyphicon glyphicon-group"
                     aria-hidden="true"></span>
                      {{menuType}}</a></li-->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!loggedIn"><a ng-click="openLogin()">
                   <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li ng-if="loggedIn">
                   <a>{{username}}</a>
                </li>
                <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                    <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>         
               