<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Fleet Manager</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div ng-if="!showLeader">
                <h3>{{message}}</h3>
            </div>
            <div class="media" ng-if="showLeader">
                <div class="media-left media-middle">
                    <a>
                    <img class="media-object img-thumbnail"
                    ng-src={{leader.image}} alt="Peter Pan">
                    </a>
                </div>
<!--                    <div class="media-body">
                    <h3 class="media-heading">{{leader.name}}
                    <small>{{leader.designation}}</small></h3>
                    <p>{{leader.description}}</p>
-->                    </div>
            </div>
        </div>
    </div>
</div>
