<div class="container">
    <div class="row row-content" ng-controller="LocationsController">
        <div class="col-xs-12" ng-if="!showLocations">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showLocations">
            <h3 class="tableheader">Locations</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><a ui-sref="app.location({})">
                        <button class="btn btn-info">New</button>
                    </a></th>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="location in locations">
                    <td><a ui-sref="app.location({id: location._id})">
                            <button class="btn btn-default">View/Edit</button>
                        </a></td>
                    <td>{{location.name}}</td>
                    <td>{{location.address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
