<div class="container" >
    <div class="row row-content">
        <div class="col-xs-12">
            <h3>Location Information</h3>
        </div>


    <div class="col-xs-12 col-sm-12">
        <form ng-submit="saveLocation()" role="form" name="locationForm">

            <div class="form-group" >
                <span class=" col-sm-offset-2 col-sm-3" ng-if="editing">
                    <button type="submit" class="btn btn-success" ng-disabled="locationForm.$invalid">Save</button>
                </span>
                <span class="col-sm-3" ng-if="editing && location._id">
                    <button class="btn btn-warning"  ng_click="deleteLocation()" >Delete</button>
                </span>
                <span class="col-sm-offset-2 col-sm-3" ng-if="!editing">
                    <button class="btn btn-primary"  ng_click="editLocation()" >Edit</button>
                </span>
                <span class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click = "cancelEditLocation()">Cancel</button>
                </span>
            </div>

            <div class="form-group">
                <label for="locationName">Name</label>
                <input type="text" class="form-control input-sm" id="locationName" placeholder="LocationName" ng-model="location.name">
                <label for="address">Address</label>
                <input type="text" class="form-control input-sm" id="address" placeholder="Address" ng-model="location.address">
            </div>
        </form>
    </div>

    <div ng-if="!showGroups">
        <h3>{{message}}</h3>
    </div>  

    <div ng-if="showGroups && showGroupsList" class="col-xs-12 col-sm-12">
        <h4>Groups at Location</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><a ui-sref="app.group({})">
                        <button class="btn btn-info">New</button>
                    </a></th>
                    <th>Group Name</th>    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in groupsOnLocation">
                    <td><a ui-sref="app.group({id: group._id})">
                        <button class="btn btn-primary">View/Edit</button></td>
                     </a></td>
                    <td>{{group.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
