<div class="container">
    <div class="row row-content" ng-controller="PeopleController">
        <h3 class="tableheader">People</h3>
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"
                 ng-class="{active:isSelected('all')}">
                <a ng-click="select('all')"
                 aria-controls="people"
                 role="tab">All</a></li>
                <li role="presentation"
                 ng-class="{active:isSelected('prospects')}">
                <a  ng-click="select('prospects')"
                 aria-controls="prospects"
                 role="tab">Prospects</a></li>
                <li role="presentation"
                 ng-class="{active:isSelected('managers')}">
                <a ng-click="select('managers')"
                 aria-controls="managers"
                 role="tab">Managers</a></li>
                 <li role="presentation"
                 ng-class="{active:isSelected('topmanagers')}">
                <a ng-click="select('topmanagers')"
                 aria-controls="topmanagers"
                 role="tab">Top Managers</a></li>
            </ul>

            <div class="tab-content">
                <div ng-if="!showPeople">
                    <h3>{{message}}</h3>
                </div>
                <table class="table table-bordered" ng-if="show">
                    <thead>
                        <tr>
                            <th> </th>  
                            <th>Name</th>
                            <th>workLocation</th>
                            <th>Group membership</th> 
                            <th>Manages Groups</th>
                            <th>Other</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="person in people  | filter: filtText">
                            <td><a ui-sref="app.person({id: person._id})">
                                <button class="btn btn-gray">View</button></td>
                             </a></td>
                            <td>{{person.firstname}} {{person.familyname}}</td>
                            <td>{{person.workLocation.name}}</td>
                            <td>{{person.groups.join(", ")}}</td>
                            <td>{{person.manages.join(", ")}}</td>
                            <td>{{person.isProspect? "Prospect":""}}{{person.isTopManager? "Top Manager":""}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

