<div class="container"  ng-controller="PersonInfoController">
    <div class="row row-content">
        <div class="col-xs-12">
          <h3>Personal Info {{person.username}}
            <span class="" ng-show="person.isTopManager"> - Top Manager</span>
            <span class="" ng-show="person.isProspect"> - Prospect</span>
          </h3>           
        </div>
        <div class="col-xs-12 col-sm-9">
            <form ng-submit="savePersonalInfo($event)" class="form-horizontal" name="personalInfoForm" >
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!-- ng-disabled="personalInfoForm.$invalid" -->
                        <span class="col-sm-3" ng-if="!editing">
                          <button type="button" class="btn btn-primary btn-sm" ng-click=toggleEdit() >Edit</button>
                        </span>
                        <span class="col-sm-3" ng-if="editing">
                          <button type="submit" class="btn btn-succeed btn-sm">Save</button>
                        </span>
                        <span class="col-sm-3">
                          <button type="button" class="btn btn-primary btn-sm" ng-click=cancelPersonalInfo()>Cancel</button>
                        <span>
                    </div>
                </div>

                <div class="col-sm-3 col-sm-offset-2" ng-show="person._id && !editing"> 
                  <label>Work Location:
                  <select ng-model="workLocation"  ng-options="x._id as x.name for x in [person.workLocation]" class="form-control" >
                      </select>
                  </label>
                </div>
     
                <div class="col-sm-3 col-sm-offset-2" ng-show="person._id && editing"> 
                  <label>Work Location:
                  <select ng-model="workLocation" ng-options="x._id as x.name for x in locations" class="form-control"  ng-change="locationChanged()" required>
                          <option value="">-- Select --</option>
                      </select>
                      <span ng-show="invalidChannelSelection" class="help-block">Select an option.</span>
                  </label>
                </div>
                      
               <div class="col-sm-3 " ng-show="person._id && !editing">
                  <label>Member of Groups:
                  <select multiple ng-model="inGroup" ng-options="x._id as x.name for x in person.inGroup" class="form-control" >
                      </select>
                      <span ng-show="invalidChannelSelection" class="help-block">Select an option.</span>
                  </label>
                </div>

               <div class="col-sm-3 " ng-show="person._id && editing" >
                  <label>Member of Groups:
                  <select multiple ng-model="inGroup" ng-options="x._id as x.name for x in groups" class="form-control"  >
                      </select>
                      <span ng-show="invalidChannelSelection" class="help-block">Select an option.</span>
                  </label>
                </div>


               <div class="col-sm-3 " ng-show="person._id && !editing">
                  <label>Manager of Groups:
                  <select multiple ng-model="managerOfGroups" ng-options="x._id as x.name for x in person.managerOfGroups" class="form-control" >
                      </select>
                      <span ng-show="invalidChannelSelection" class="help-block">Select an option.</span>
                  </label>
                </div>

               <div class="col-sm-3 " ng-show="person._id && editing">
                  <label>Manager of Groups:
                  <select multiple ng-model="managerOfGroups" ng-options="x._id as x.name for x in groups" class="form-control" >
                      </select>
                      <span ng-show="invalidChannelSelection" class="help-block">Select an option.</span>
                  </label>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : personalInfoForm.firstname.$error.required && !personalInfoForm.firstname.$pristine }">
                    <label for="firstname" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name - Required field"
                        ng-model="person.firstname" required  ng-readonly="!editing">
                        <span ng-show="personalInfoForm.firstname.$error.required && !personalInfoForm.firstname.$pristine" class="hel p-block">Your First name is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : personalInfoForm.lastname.$error.required && !personalInfoForm.lastname.$pristine }">
                    <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="lastname" name="lastname"  placeholder="Last Name - Required field"
                    ng-model="person.familyname" required  ng-readonly="!editing">
                        <span ng-show="personalInfoForm.lastname.$error.required && !personalInfoForm.lastname.$pristine" class="help-block">Your Last name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telnum" class="col-sm-2 control-label">Telephone</label>
                    <div class="col-xs-5 col-sm-4 col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">(</div>
                                <input type="tel" class="form-control" placeholder="Country"  ng-model="person.telephoneCountry"  ng-readonly="!editing">
                            <div class="input-group-addon">)</div>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-7">
                        <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number"
                                ng-model="person.telephone">
                    </div>
                </div>
                <div class="form-group"  ng-class="{ 'has-error has-feedback' : personalInfoForm.emailid.$invalid && !personalInfoForm.emailid.$pristine }">
                    <label for="emailid" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email - Required field"
                        ng-model="person.email" required  ng-readonly="!editing">
                        <span ng-show="personalInfoForm.emailid.$invalid && !personalInfoForm.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span ng-show="(personalInfoForm.emailid.$invalid ||
                                    personalInfoForm.emailid.$error.required) &&
                                    !personalInfoForm.emailid.$pristine"
                         class="help-block">Enter a valid email address.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback' : personalInfoForm.password.$invalid && !personalInfoForm.password.$pristine }" ng-if="!person._id" >
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="password" name="password"  placeholder="Password - Required field"
                    ng-model="person.password" required  ng-readonly="!editing">
                        <span ng-show="personalInfoForm.password.$error.required && !personalInfoForm.password.$pristine" class="help-block">Password is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback' : personalInfoForm.password2.$invalid && !personalInfoForm.password2.$pristine }" ng-if="!person._id" >
                    <label for="password2" class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="password2" name="password2"  placeholder="Password confirmation - Required field"
                    ng-model="password2" required  ng-readonly="!editing">
                        <span ng-show="personalInfoForm.password2.$error.required && !personalInfoForm.password2.$pristine" class="help-block">Password confirmation is required.</span>
                    </div>
                </div>
                <div class="form-group"  ng-class="{ 'has-error' : invalidChannelSelection }" ng-if="person._id">
                    <div class="checkbox col-sm-9 col-sm-offset-2" ng-show="editing">
                        <label class="checkbox-inline"  ng-if="user.isTopManager">
                            <input type="checkbox"
                            ng-model="person.isTopManager"  readonly>
                            <strong>Is TopManager</strong>
                        </label>
                        <label class="checkbox-inline" ng-show="person.isProspect">
                            <input type="checkbox"
                            ng-model="person.isProspect" >
                            <strong>Is Prospect</strong>
                        </label>
                        <a ui-sref="app.assignManager({personId: person._id})" ng-if="user.isTopManager">
                            <button class="btn btn-default pull-right">Assign As Group Manager</button></td>
                         </a>

                    </div>
                </div> 

            </form>
        </div>
    </div>
</div>
