<div class="container">
<h3>Personal Dashboard for {{person.username}} </h3>
    <button ng-click="toggleTrips()" class="btn btn-xs btn-info pull-right"
        type="button">
        {{showTripsList ? 'Hide Trips':'Show Trips'}}
    </button>
    <button ng-click="toggleReservations()" class="btn btn-xs btn-info pull-right"
        type="button">
        {{showReservationsList ? 'Hide Reservations':'Show Reservations'}}
    </button>

    <div ng-if="showReservations && showReservationsList">
            <div ng-if="!showReservations">
                <h4>{{message}}</h4>
            </div>
            <h4>Your Reservations:</h4>
                <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> <a ui-sref="app.reservation({personId:userId})">
                            <button class="btn btn-info">New</button>
                            </a> </th>
                        <th>From</th>
                        <th>To</th> 
                        <th>Purpose</th>
                        <th>Persons/Seats</th>
                        <th>Brand/Model</th>
                        <th>Plate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reservation in reservations">
                        <td><a ui-sref="app.reservation({id: reservation._id})">
                                <button class="btn btn-default">View/Edit</button></td>
                             </a></td>
                        <td>{{reservation.dateFrom | date:'d.MMM yyyy'}}</td>
                        <td>{{reservation.dateTo | date:'d.MMM yyyy'}}</td>
                        <td>{{reservation.purpose}}</td>
                        <td>{{reservation.personCount}} people ({{reservation.vehicleId.seats}} seats)</td>
                        <td>{{reservation.vehicleId.model}}, {{reservation.vehicleId.brand}}</td>
                        <td>{{reservation.vehicleId.plate}}</td>
                    </tr>
                </tbody>
                </table>
    </div>

    <div ng-if="showTrips && showTripsList">
        <div ng-if="!showTrips">
                <h4>{{message}}</h4>
        </div>      
        <h4>Your Trips</h4>
                <table class="table table-bordered" ng-if="showTrips">
                <thead>
                    <tr>
                        <th> <a ui-sref="app.trip({})">
                            <button class="btn btn-info">New</button>
                            </a> </th>
                        <th>From</th>
                        <th>To</th> 
                        <th>Purpose</th>
                        <th>Group</th> 
                        <th>Brand/Model</th>
                        <th>Plate</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trip in trips| filter:filtText">
                        <td><a ui-sref="app.trip({id: trip._id})">
                                <button class="btn btn-default">View/Edit</button></td>
                             </a></td>
                        <td>{{trip.dateFrom | date:'d.MMM yyyy'}}</td>
                        <td>{{trip.dateTo | date:'d.MMM yyyy'}}</td>
                        <td>{{trip.purpose}}</td>
                        <td>{{trip.vehicleId.inGroup.name}}</td>
                        <td>{{trip.vehicleId.model}}, {{trip.vehicleId.brand}}</td>
                        <td>{{trip.vehicleId.plate}}</td>
                        <td>{{trip.status}}</td>
                    </tr>
                </tbody>
                </table>
    </div>
</div>

