<div class="container"  ng-controller="PersonSignupController">
    <div class="row row-content">
        <div class="col-xs-12">
          <h3>Signup</h3> 
        </div>
        <div class="col-xs-12 col-sm-9">
            <form ng-submit="savePersonalInfo($event)" class="form-horizontal" name="personalInfoForm" >
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!-- ng-disabled="personalInfoForm.$invalid" -->
                        <span class="col-sm-3">
                          <button type="submit" class="btn btn-success btn-sm">Signup</button>
                        </span>
                        <span class="col-sm-3">
                          <button type="button" class="btn btn-default btn-sm" ng-click=cancelPersonalInfo()>Cancel</button>
                        <span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : personalInfoForm.username.$error.required && !personalInfoForm.username.$pristine }">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username - Required field"
                        ng-model="person.username"  ng-change="upper()" required>
                        <span ng-show="personalInfoForm.username.$error.required && !personalInfoForm.username.$pristine" class="hel p-block">A User name is required.</span>
                    </div>
                </div>

                <div class="form-group" >
                  <label for="worklocation" class="col-sm-2 control-label">Work Location</label>
                    <div class="col-sm-10">
		                  <select ng-model="workLocation"  ng-options="x._id as x.name for x in locations" class="form-control"  ng-change="locationChanged()">
	                      <option value="">-- choose location --</option>
	                    </select>
	                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : personalInfoForm.firstname.$error.required && !personalInfoForm.firstname.$pristine }">
                    <label for="firstname" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name - Required field"
                        ng-model="person.firstname" required>
                        <span ng-show="personalInfoForm.firstname.$error.required && !personalInfoForm.firstname.$pristine" class="hel p-block">Your First name is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : personalInfoForm.lastname.$error.required && !personalInfoForm.lastname.$pristine }">
                    <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="lastname" name="lastname"  placeholder="Last Name - Required field"
                    ng-model="person.familyname" required >
                        <span ng-show="personalInfoForm.lastname.$error.required && !personalInfoForm.lastname.$pristine" class="help-block">Your Last name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telnum" class="col-sm-2 control-label">Telephone</label>
                    <div class="col-xs-5 col-sm-4 col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">(</div>
                                <input type="tel" class="form-control" placeholder="Country"  ng-model="person.telephoneCountry" >
                            <div class="input-group-addon">)</div>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-7">
                        <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number"
                                ng-model="person.telephone">
                    </div>
                </div>
                <div class="form-group"  ng-class="{ 'has-error has-feedback' : personalInfoForm.emailid.$invalid && !personalInfoForm.emailid.$pristine }">
                    <label for="emailid" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email - Required field"
                        ng-model="person.email" required >
                        <span ng-show="personalInfoForm.emailid.$invalid && !personalInfoForm.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span ng-show="(personalInfoForm.emailid.$invalid ||
                                    personalInfoForm.emailid.$error.required) &&
                                    !personalInfoForm.emailid.$pristine"
                         class="help-block">Enter a valid email address.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback' : personalInfoForm.password.$invalid && !personalInfoForm.password.$pristine }" ng-if="!person._id" >
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="password" name="password"  placeholder="Password - Required field"
                    ng-model="person.password" required >
                        <span ng-show="personalInfoForm.password.$error.required && !personalInfoForm.password.$pristine" class="help-block">Password is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback' : personalInfoForm.password2.$invalid && !personalInfoForm.password2.$pristine }" ng-if="!person._id" >
                    <label for="password2" class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="password2" name="password2"  placeholder="Password confirmation - Required field"
                    ng-model="password2" required >
                        <span ng-show="personalInfoForm.password2.$error.required && !personalInfoForm.password2.$pristine" class="help-block">Password confirmation is required.</span>
                    </div>
                </div>
                <div class="form-group"  ng-class="{ 'has-error' : invalidChannelSelection }" ng-if="person._id">
                    <div class="checkbox col-sm-9 col-sm-offset-2">
                        <label class="" ng-show="person.isProspect">
                            <strong>Is Prospect</strong>
                        </label>
                    </div>
                </div> 

            </form>
        </div>
    </div>
</div>
