<div class="container">
    <div class="row row-content" ng-controller="ReservationsController">
        <div class="col-xs-12" ng-if="!showReservations">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showReservations" id ="section-to-print">
            <h3 class="tableheader">Managers Reservations Overview</h3>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th> </th>
                    <th ng_click = setSorting("person")>Person v^</th>
                    <th ng_click = setSorting("purpose")>Purpose v^</th>
                    <th ng_click = setSorting("personCount")>Persons v^</th>
                    <th ng_click = setSorting("group")>Group v^</th> 
                    <th ng_click = setSorting("vehicle")>Brand/Model v^</th>
                    <th ng_click = setSorting("plate")>Plate v^</th>
                    <th ng_click = setSorting("fromDate")>From v^</th>
                    <th ng_click = setSorting("toDate")>To v^</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reservation in reservations | orderBy: sorting ">
                    <td><a ui-sref="app.reservation({id: reservation._id})">
                            <button class="btn btn-default">View</button></td>
                         </a></td>
                    <td>{{reservation.personId.firstname}} {{reservation.personId.familyname}}</td>
                    <td>{{reservation.purpose}}</td>                        <td>{{reservation.personCount}}</td>

                    <td>{{reservation.vehicleId.inGroup.name}}</td>
                    <td>{{reservation.vehicleId.brand}}/{{reservation.vehicleId.model}}</td>
                    <td>{{reservation.vehicleId.plate}}</td>
                    <td>{{reservation.dateFrom | date:'d.MMM yyyy'}}</td>
                    <td>{{reservation.dateTo | date:'d.MMM yyyy'}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

