<div class="ngdialog-message">
    <div class="">
        <h3>Select Person</h3>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
        <form ng-submit="doLogin()">
            <div class="form-group"  >
              <label>Username all People:
              <select multiple ng-model="selectedPerson" ng-options="x._id as x.username for x in people" class="form-control"          ng-change="selectedPersonChanged()">
                  </select>
                  <!--span ng-show="invalidChannelSelection" class="help-block">Select an option.</span-->
              </label>
            </div>

             <button type="submit" class="btn btn-info btn-sm" ng-click=closeThisDialog(selectedPerson)>Select</button>
            <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button> &nbsp; &nbsp;
        </form>
    </div>
    <div>

    </div>
</div>
