<div class="container" ng-controller="TripController">
    <div class="row row-content">
        <div class="col-xs-12">
            <h3>Register Trip - {{username}} </h3> 
        </div>

        <div class="col-xs-12 col-sm-9" ng-controller="TripController">
            <form class="form-horizontal" name="tripForm" ng-submit="saveTrip()" novalidate>
            <div class="form-group" >
                <span class=" col-sm-offset-2 col-sm-3" ng-if="editing">
                    <button type="submit" class="btn btn-success" ng-disabled="tripForm.$invalid">Save</button>
                </span>
                <span class="col-sm-3" ng-if="editing && trip._id">
                    <button class="btn btn-warning"  ng_click="deleteTrip()" >Delete</button>
                </span>
                <span class="col-sm-offset-2 col-sm-3" ng-if="selfie &&  !editing">
                    <button class="btn btn-primary"  ng_click="editTrip()" >Edit</button>
                </span>
                <span class="col-sm-3" ng-if="!selfie && !editing">
                    <button type="button" class="btn btn-success" ng-click = "tripChangeStatus('Approved')">Accept</button>
                </span>
                <span class="col-sm-3" ng-if="!selfie && !editing">
                    <button type="button" class="btn btn-warning" ng-click = "tripChangeStatus('Rejected')">Reject</button>
                </span>
                <span class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click = "cancelEditTrip()">Cancel</button>
                </span>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error' : tripForm.dateFrom.$error.required && !tripForm.dateFrom.$pristine }">
              <label class="control-label col-sm-2" for="date">From Date</label>
                <div class="col-sm-4 has-feedback">
                    <input type="date" class="form-control input-sm" id="dateFrom" placeholder="Date"  ng-model="trip.dateFrom">
                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                </div>
                <span ng-show="tripForm.dateFrom.$error.required && !tripForm.dateFrom.$pristine" class="help-block">From date is required.</span>
 <!--               <div class="col-sm-4 has-feedback">
                    <input type="time" class="form-control input-sm" id="fromtime" placeholder="Time">
                    <span class="glyphicon glyphicon-time form-control-feedback"></span>
                </div>
 --> 
            Status:  {{trip.status}}   Selfie: {{selfie}}
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error' : tripForm.dateTo.$error.required && !tripForm.dateTo.$pristine }">
              <label class="control-label col-sm-2" for="date">To Date</label>
                <div class="col-sm-4 has-feedback">
                    <input type="date" class="form-control input-sm" id="dateTo" placeholder="Date" ng-model="trip.dateTo">
                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                </div>
                <span ng-show="tripForm.dateTo.$error.required && !tripForm.dateTo.$pristine" class="help-block">From date is required.</span>
 <!--               <div class="col-sm-4 has-feedback">
                    <input type="time" class="form-control input-sm" id="totime" placeholder="Time">
                    <span class="glyphicon glyphicon-time form-control-feedback"></span>
                </div>
  -->          </div>

            <div class="form-group"  ng-class="{ 'has-error' : invalidChannelSelection }">
                 <label for="personcount" class="col-sm-2 control-label">No of Persons</label>
                    <div class="col-sm-4">
                    <select class="form-control" id="personcount"
                       placeholder="No of persons"
                       ng-model="trip.personCount"
                       ng-options="count as count for count in [1,2,3,4]">
                        <option value="">No of persons</option>
                    </select>
                    <span ng-show="invalidChannelSelection" class="help-block">Select an option.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : tripForm.purpose.$error.required && !tripForm.purpose.$pristine }">
                <label for="purpose" class="col-sm-2 control-label">Purpose</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="purpose" name="purpose"  placeholder="Enter Purpose"
                ng-model="trip.purpose" required>
                    <span ng-show="tripForm.purpose.$error.required && !tripForm.purpose.$pristine" class="help-block">Enter trip purpose.</span>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : tripForm.personId.$error.required && !tripForm.personId.$pristine }">
                <label for="personId" class="col-sm-2 control-label">Person</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="personId" name="personId"  placeholder="Person"
                ng-model="usernameTrip" ng-change="refreshVehicles(trip.personId)" required readonly>
                    <span ng-show="tripForm.personId.$error.required && !tripForm.personId.$pristine" class="help-block">Enter personId.</span>
                </div>
            </div>
            
            <div class="form-group" ng-class="{ 'has-error' : tripForm.vehicleId.$error.required && !tripForm.vehicleId.$pristine }">
                <label for="vehicleId" class="col-sm-2 control-label">Vehicle</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="vehicleId" name="vehicleId"  placeholder="Select Vehicle - Required"
                ng-model="vehicleTrip" ng-change="refreshVehicles(trip.vehicleId)" required readonly>
                    <span ng-show="tripForm.vehicleId.$error.required && !tripForm.vehicleId.$pristine" class="help-block">Select vehicle below.</span>
                </div>
            </div>


            <div class="form-group" ng_if = "editing">
                <label for="vehicles" class="col-sm-2 control-label">Vehicles</label>
                <div class="col-sm-10">
                    <div class="tab-content">
                    <table id="vehicles" name="vehicles">
                        <tr>   
                            <th></th>                                                
                            <th>Brand</th>                        
                            <th>Model</th>
                            <th>Seats</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Group</th>                    
                        </tr>
                        <tr ng-repeat="vehicle in vehicles">
                            <td><a>
                                <button class="btn btn-default" ng-click="selectVehicle(vehicle)">Select</button></td>
                             </a></td>
                            <td>{{vehicle.brand}}</td>
                            <td>{{vehicle.model}}</td>
                            <td>{{vehicle.seats}}</td>
                            <td>{{vehicle.description}}</td>
                            <td>{{vehicle.location}}</td>
                            <td>{{vehicle.group}}</td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>                 
        </form>

    </div>
   </div>
</div>

