<div class="container">
    <div class="row row-content" ng-controller="TripsController">
        <h3 class="tableheader">Managers Trips Overview</h3>
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"
                 ng-class="{active:isSelected('all')}">
                <a ng-click="select('all')"
                 aria-controls="all"
                 role="tab">All</a></li>
                <li role="presentation"
                 ng-class="{active:isSelected('-')}">
                <a  ng-click="select('-')"
                 aria-controls="   -   "
                 role="tab">"   -   "</a></li>
                <li role="presentation"
                 ng-class="{active:isSelected('Accepted')}">
                <a ng-click="select('Accepted')"
                 aria-controls="Accepted"
                 role="tab">Accepted</a></li>
                 <li role="presentation"
                 ng-class="{active:isSelected('Rejected')}">
                <a ng-click="select('Rejected')"
                 aria-controls="Rejected"
                 role="tab">Rejected</a></li>
            </ul>

            <div class="tab-content">
                <div ng-if="!showTrips">
                    <h3>{{message}}</h3>
                </div>
                <table class="table table-bordered" ng-if="showTrips">
                    <thead>
                        <tr>
                            <th> </th>
                            <th ng_click = setSorting("person")>Person v^</th> 
                            <th ng_click = setSorting("purpose")>Purpose v^</th> 
                            <th ng_click = setSorting("group")>Group v^</th> 
                            <th ng_click = setSorting("vehicle")>Brand/Model v^</th>
                            <th ng_click = setSorting("plate")>Plate v^</th>
                            <th ng_click = setSorting("dateFrom")>From v^</th>
                            <th ng_click = setSorting("dateTo")>To v^</th> 
                            <th ng_click = setSorting("status")>Status v^</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="trip in trips | orderBy: sorting | filter:filtText">
                            <td><a ui-sref="app.trip({id: trip._id})">
                                    <button class="btn btn-default">View</button></td>
                                 </a></td>
                            <td>{{trip.personId.firstname}} {{trip.personId.familyname}}</td>
                            <td>{{trip.purpose}}</td>
                            <td>{{trip.vehicleId.inGroup.name}}</td>
                            <td>{{trip.vehicleId.brand}}, {{trip.vehicleId.model}}</td>
                            <td>{{trip.vehicleId.plate}}</td>
                            <td>{{trip.dateFrom | date:'d.MMM yyyy'}}</td>
                            <td>{{trip.dateTo | date:'d.MMM yyyy'}}</td>
                            <td>{{trip.status}}</td>
                            <td><button class="btn btn-success" ng-if="!selfie(trip.personId._id) && trip.status === '-'" ng-click="tripChangeStatus(trip._id,'Accepted')">Accept</button></td>
                            <td><button class="btn btn-warning" ng-if="!selfie(trip.personId._id) && trip.status === '-'" ng-click="tripChangeStatus(trip._id,'Rejected')">Reject</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
