<div class="container" ng-controller="VehicleController">
    <div class="row row-content">
        <div class="col-xs-12">
          <h3>Vehicle Info</h3> 
        </div>
        <div class="col-xs-12 col-sm-9">
            <form ng-submit="saveVehicle($event)" class="form-horizontal" name="vehicleForm" >

                <div class="form-group" >
                    <span class=" col-sm-offset-2 col-sm-3" ng-if="editing">
                        <button type="submit" class="btn btn-success" ng-disabled="vehicleForm.$invalid">Save</button>
                    </span>
                    <span class="col-sm-3" ng-if="editing && vehicle._id">
                        <button class="btn btn-warning"  ng_click="deleteVehicle()" >Delete</button>
                    </span>
                    <span class="col-sm-offset-2 col-sm-3" ng-if="!editing">
                        <button class="btn btn-primary"  ng_click="editVehicle()" >Edit</button>
                    </span>
                    <span class="col-sm-3">
                        <button type="button" class="btn btn-primary" ng-click = "cancelEditVehicle()">Cancel</button>
                    </span>
                </div>

                <div class="form-group  col-sm-4" ng-class="{ 'has-error' : vehicleForm.plate$error.required && !vehicleForm.plate.$pristine }">
                    <label for="plate" class="col-sm-2 control-label">Plate</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="plate" name="plate" placeholder="Enter Plate"
                        ng-model="vehicle.plate" required>
                        <span ng-show="vehicleForm.plate.$error.required && !vehicleForm.plate.$pristine" class="hel p-block">Car plates are required.</span>
                    </div>
                </div>
                      
                <div class="form-group  col-sm-4" ng-class="{ 'has-error' : vehicleForm.brand.$error.required && !vehicleForm.brand.$pristine }">
                    <label for="brand" class="col-sm-2 control-label">Brand</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter Brand"
                        ng-model="vehicle.brand" >
                        <span ng-show="vehicleForm.brand.$error.required && !vehicleForm.brand.$pristine" class="hel p-block">Car brand is required.</span>
                    </div>
                </div>
                      
                <div class="form-group  col-sm-4" ng-class="{ 'has-error' : vehicleForm.model.$error.required && !vehicleForm.model.$pristine }">
                    <label for="model" class="col-sm-2 control-label">Model</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="model" name="model" placeholder="Enter Brand"
                        ng-model="vehicle.model" >
                        <span ng-show="vehicleForm.model.$error.required && !vehicleForm.model.$pristine" class="hel p-block">Car model is required.</span>
                    </div>
                </div>

                <div class="form-group  col-sm-6">
                  <label for="location" class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-10">
                  <select ng-model="selectedLocation" ng-options="x._id as x.name for x in locations" class="form-control" name="location" ng-change="locationChanged()">
                      <option value="">-- Select --</option>
                      </select>
                      <span ng-show="invalidChannelSelection" class="help-block">Select an option.</span>
                    </div>       
                </div>

                <div class="form-group   col-sm-6">
                  <label for="inGroup" class="col-sm-2 control-label">In Group</label>
                    <div class="col-sm-10">
                  <select ng-model="inGroup" ng-options="x._id as x.name for x in groups" class="form-control" name="inGroup" ng-change="groupChanged()" >
                      <option value="">-- Select --</option>
                      </select>
                      <span ng-show="invalidChannelSelection" class="help-block">Select an option.</span>
                    </div>       
                </div>

                <div class="form-group" ng-class="{ 'has-error' : vehicleForm.seats.$error.required && !vehicleForm.seats.$pristine }">
                    <label for="seats" class="col-sm-2 control-label">Seats</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="seats" name="seats" placeholder="Enter Number of seats"
                        ng-model="vehicle.seats" required>
                        <span ng-show="vehicleForm.seats.$error.required && !vehicleForm.seats.$pristine" class="hel p-block">Number of seats is required.</span>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : vehicleForm.description.$error.required && !vehicleForm.description.$pristine }">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="description" name="description"  placeholder="Description of Vehicle"
                    ng-model="vehicle.description">
                        <span ng-show="vehicleForm.description.$error.required && !vehicleForm.description.$pristine" class="help-block">Description.</span>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : vehicleForm.kmPresent.$error.required && !vehicleForm.kmPresent.$pristine }">
                    <label for="kmPresent" class="col-sm-2 control-label">Km - Present</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="kmPresent" name="kmPresent"  placeholder="Km - Present"
                    ng-model="vehicle.kmPresent" >
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : vehicleForm.LastMaintenanceKm.$error.required && !vehicleForm.LastMaintenanceKm.$pristine }">
                    <label for="LastMaintenanceKm" class="col-sm-2 control-label">Km - Last Maintenance</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="LastMaintenanceKm" name="LastMaintenanceKm"  placeholder="Km - Last Maintenance"
                    ng-model="vehicle.lastMaintenanceKm">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : vehicleForm.LastMaintenanceDate.$error.required && !vehicleForm.LastMaintenanceDate.$pristine }">
                    <label for="LastMaintenanceDate" class="col-sm-2 control-label">Date - Last Maintenance</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control " id="LastMaintenanceDate" name="LastMaintenanceDate"  placeholder="Date - Last Maintenance"
                    ng-model="vehicle.lastMaintenanceDate">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : vehicleForm.NextMaintenanceKm.$error.required && !vehicleForm.NextMaintenanceKm.$pristine }">
                    <label for="NextMaintenanceKm" class="col-sm-2 control-label">Km - Next Maintenance</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control " id="NextMaintenanceKm" name="NextMaintenanceKm"  placeholder="Km - Next Maintenance"
                    ng-model="vehicle.nextMaintenanceKm">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : vehicleForm.NextMaintenanceDate.$error.required && !vehicleForm.NextMaintenanceDate.$pristine }">
                    <label for="NextMaintenanceDate" class="col-sm-2 control-label">Date - Next Maintenance</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control " id="NextMaintenanceKm" name="NextMaintenanceDate"  placeholder="Date - Next Maintenance"
                    ng-model="vehicle.nextMaintenanceDate">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : vehicleForm.carFirstRegistrated.$error.required && !vehicleForm.carFirstRegistrated.$pristine }">
                    <label for="carFirstRegistrated" class="col-sm-2 control-label">Car First Registrated</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control " id="carFirstRegistrated" name="carFirstRegistrated"  placeholder="Date Car First Registrated"
                    ng-model="vehicle.carFirstRegistrated" >
                        <span ng-show="vehicleForm.carFirstRegistrated.$error.required && !vehicleForm.carFirstRegistrated.$pristine" class="help-block">Date Car First Registrated</span>
                    </div>
                </div>
            </form>
        </div>
   </div>
</div>