<div class="container">
    <div class="row row-content" ng-controller="VehiclesController">
        <div class="col-xs-12" ng-if="!showVehicles">
            <h3>{{message}}</h3>
        </div>

        <div class="col-xs-12" ng-if="showVehicles">
            <h3  class="tableheader">Vehicles</h3>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th> <a ui-sref="app.vehicle({})">
                        <button class="btn btn-info">New</button>
                        </a> </th>
                    <th>Plate</th>                        
                    <th>Brand</th>                        
                    <th>Model</th>
                    <th>Seats</th>
                    <th>Location</th>
                    <th>Group</th>
                    <th>Special</th>   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vehicle in vehicles">
                    <td><a ui-sref="app.vehicle({id: vehicle._id})">
                        <!--button class="btn btn-default" ng-click="gotoEditVehicle(vehicle._id)">View/Edit</button-->
                        <button class="btn btn-default" ng-click="gotoEditVehicle(vehicle._id)">View/Edit</button>
                        </a></td>
                    <td>{{vehicle.plate}}</td>
                    <td>{{vehicle.brand}}</td>
                    <td>{{vehicle.model}}</td>
                    <td>{{vehicle.seats}}</td>
                    <td>{{vehicle.inGroup.locationId.name}}</td>
                    <td>{{vehicle.inGroup.name}}</td>
                    <td>{{vehicle.description}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
