<div class="container">
    <div class="row row-content" ng-controller="TripsControllerPHS">
        <div class="col-xs-12">
            <div class="col-xs-12" ng-if="!showTrips">
                <h3>{{message}}</h3>
            </div>
            <h3 class="tableheader">Vehicle Usage pr. Month</h3>
            <div class="col-sm-8 ">
              <label class="col-sm-8 col-3">Select a Month:
              <select ng-model="selectedMonth" ng-change="showKm()" ng-options="x as x.monthYear for x in allMonths" class="form-control col-sm-8 col-3" >
                  </select>
              </label>
            </div>
            <table class="table table-bordered" ng-if="showTrips">
            <thead>
                <tr>
                    <th>Plate</th>
                    <th>Brand/Model</th>
                    <th>km</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trip in trips| filter:filtText">
                    <td>{{trip._id.plate}}</td>
                    <td>{{trip._id.brand}}, {{trip._id.model}}</td>
                    <td>{{trip.total}}</td>
                </tr>
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>